*:after,
*:before,
* {
	font-family: 'JetBrains Mono', monospace;
	box-sizing: border-box;
	color: #ccc;
}

body {
	background-color: #f3f3f3;
}

.cont-limite {
	width: calc(100vw - 35px);
	max-width: 700px;
	margin: auto;
}

.bloque {
	background-color: #000;
	box-shadow: 0px 1px 15px #00000030;
}


header {
	height: 45px;
	display: flex;
	align-items: center;
	text-align: center;
}
header > div.cont-limite > span.titulo {
	font-size: 19px;
	font-weight: 600;
}



main {
	min-height: calc(100vh - 45px);
	padding: 2.4em 0;
}

main div.cont-limite > article.card {
	padding: 1.3em 1.2em;
	margin-bottom: 1.3em;
	position: relative;
	border-radius: .25em;
	box-shadow: none;
}
main div.cont-limite > article.card:last-child {
	margin-bottom: 0;
}
main div.cont-limite > article.card:hover {
	box-shadow: 0px 1px 15px #00000050;
	transform: scale(1.005);
	transition: all .1 ease-in;
}

main div.cont-limite > article.card > h3.titulo {
	margin: 0;
}
main div.cont-limite > article.card > p.descripcion {
	margin-bottom: 0;
}

main div.cont-limite > article.card > a.link {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: .2em;
}



footer {
	padding: 1em 0;
}
footer a {
	color: #5B78A9;
	text-decoration: none;
	font-weight: bolder;
}
footer a:hover {
	text-decoration: underline;
}
